:local {
    .wrapper {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
    }
    .message {
        margin-bottom: 6px;
        padding: .5rem 1rem;
        border: 1px solid black;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: white;
        background-color: black;
        opacity: .5;
        transition: all 0.2s ease;

        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }
    .lowLoad {
        background-color: green;
    }
    .highLoad {
        background-color: red;
    }
}
